/* ##################################################################### */
/* ######### SASS GENERATED STYLE FROM YOURTHEME/SCSS/UTILITIES ######## */
/* ##################################################################### */

// sidebar

.ui-dialog-off-canvas {
  opacity: .9;
  width: 400px !important;
}

// main
.dialog-off-canvas-main-canvas {
  padding: 0 !important;
}

// content
#drupal-off-canvas {
  option {
    background-color: #fff;
    color: black;
    max-width: 40%;
  }

  select {
    width: 100%;
  }

  textarea,
  select[size],
  select[multiple] {
    height: 200px;
    width: 100%;
  }
}

