// [start] _mixin_font-size-rem.scss
// variables
@use 'sass:math';
@import '../_variables.scss';

// Función para convertir el tamaño en píxeles a rem
@function countRem($value) {
  $remValue: math.div($value, $font-size); // Usa math.div en lugar de /
  @return $remValue * 1rem; // Devuelve el valor en rem
}

// Mixin para aplicar el tamaño de fuente en rem
@mixin font-size($value) {
  font-size: countRem($value); // Usa la función countRem para calcular y aplicar el tamaño de fuente en rem
}

// [end] _mixin_font-size-rem.scss
