html {
  font-family: Helvetica, Verdana, sans-serif;
  font-size: $font-size;
}

h1,
h2,
h3,
h4,
h5,
h6 {

  font-weight: 400;

  @include media {
    font-weight: 100;
  }
}

body {
  padding: 0;
.text-formatted{
  max-width: $max_width_container
}
  p {
    @include font-size(16px);
    font-weight: normal;
    margin: 1rem 0;
    font-weight: 300;
    line-height: 1.5;

    @include media {
      font-weight: 100;
    }
  }
}

#block-fmsantiago-content,
.page-title {
  padding: 0 1rem;
}

.masonry-item {
  width: 98;
  margin: 1%;

  @include media(xs) {
    width: 46%;
  }

  @include media(md) {
    width: 22%;
  }

  @include media(lg) {
    width: 17%;
  }
}

a {
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

#block-fmsantiago-branding {
  text-align: center;

  @include media {
    text-align: left;
  }

  a {
    color: $font-color-title;
    // font-weight: bold;
    text-decoration: underline;
  }
}

#block-fmsantiago-main-menu,
#block-horizontalmenu {
  // min-width: 200px;
  margin-top: 0;

  a {
    color: $font-color-menu;
  }
}
