.fancybox-is-open .fancybox-bg {}

.fancybox-container {
  .fancybox-bg {
    opacity: 0;
    transition: opacity .2s ease 0;
    background: $fancybox-bg;
  }

  &.fancybox-is-open {
    .fancybox-bg {
      opacity: 1;
      transition: opacity .2s ease 0;
    }
  }



  .fancybox-bg,
  .fancybox-inner,
  .fancybox-outer,
  .fancybox-stage {
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
  }

  .fancybox-thumbs {
    background: $fancybox-bg;
    margin: 0;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: -ms-autohiding-scrollbar;
    padding: 2px 2px 4px;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    z-index: 99995;

    top: auto;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100px;

    .fancybox-thumbs__list {
      max-width: initial;
    }

    a {
      margin-top: 15px;
      transition: all .3s ease 0s;
      opacity: .4;

      &.fancybox-thumbs-active {
        margin-top: 0px;
        opacity: 1;
      }

      &::before {
        border: none;
      }
    }
  }
}

.fancybox-show-thumbs .fancybox-inner {
  bottom: 100px;
}
