main {

  .layout-content {
    background-color: $bgcontent;

    .page-title {
      opacity: 0;
      animation: .5s linear .2s 1 fadeIn forwards;
    }

    p {
      opacity: 0;
      animation: .5s linear .2s 1 fadeIn forwards;
    }

    .field--name-field-imagenes {
      opacity: 0;
      animation: 3s ease .8s 1 fadeIn forwards;
    }
  }

  .layout-sidebar-first {
    background-color: $bgsidebar;

    @include media(md) {
      border-right: 1px solid $sidebar-separator-color;
      padding-right: 5rem;
    }

    .block {
      opacity: 0;
      animation: .5s linear .2s 1 fadeIn forwards;
    }
  }
}
