.path-frontpage,
.frontpage {
  background-color: $bgfrontpage;

  main {}

  article.node {

    .text-formatted {
      @include media {}

      margin: 0 auto;
      display: block;

      h1,
      h2,
      p,
      a {
        margin: 0;
        color: black;
      }

      h1 {
        animation: 1s ease-out .2s 1 slideInFromLeft forwards;
        opacity: 0;
      }

      h2 {
        animation: 1s ease-out 1.2s 1 slideInFromRight forwards;
        opacity: 0;
      }

      a {
        text-decoration: none;
        transition: all .5s ease 0;


        &:hover {
          transition: all .5s ease 0;
          text-decoration: underline;
        }
      }
    }
  }
}
