#toggle-icon {
  color: $font-color-menu;

  .label {
    color: $font-color-menu;
    display: none;
  }

  .icon,
  &:before,
  &:after {
    background-color: $font-color-menu;
  }
}

.horizontal-menu>li>a {
  background-color: transparent;
}
