/* [start] /components/_base.scss */

img {
  // Part 1: Set a maximum relative to the parent
  max-width: 100%;
  // Part 2: Override the height to auto, otherwise images will be stretched
  // when setting a width and height attribute on the img element.
  height: auto;
}

.visually-hidden {
  background-color: #fff;
  color: #000;
}

body {
  overflow-wrap: break-word;
  word-wrap: break-word;
  padding: 39px 10px 0 10px;
  box-sizing: border-box;

}

#edit-submit,
#edit-preview {
  margin: 0;
}

.form-item input {
  width: 100%;
  box-sizing: border-box;
}


/* [start] /components/_base.scss */
