$font-size: 16px; //required
$max_width_container: 1240px; //required

$bgfrontpage: #ddd;
$bgcontent: #ddd;
$bgsidebar: #ddd;
$sidebar-separator-color: #eee;
// $fancybox-bg:#1e1e1e;
$fancybox-bg:#ddd;
$fancybox-selected-thumb: rgb(148, 47, 47);
$font-color-title: #111;
$font-color-menu: #111;
