.button  {
  margin: 1rem;
  padding: 1rem 2rem;
  border: .1rem solid;
  border-color: black;
  color: black; // Match your link colour
  background: white;
  cursor: pointer;  // Buttons don’t make the cursor change in all browsers
  &--primary{
    border-color: black;
    color: white; // Match your link colour
    background: black;
  }
}
