* {
  max-width: 100%;
  box-sizing: border-box;
  margin: 0;
}

.form-type-checkbox{
  input{
    width: auto;
  }
}

html {
  min-height: 100vh;

  body {
    min-height: 100vh;

    .dialog-off-canvas-main-canvas {
      min-height: 100vh;

      >.layout-container {
        min-height: 100vh;

        main {
          min-height: 100vh;

          .layout-content {
            min-height: 100vh;

            .region-content {
              min-height: 100vh;

              .block {}
            }
          }

        }
      }
    }
  }
}
