main {
  @include flexbox;
  @include flex-wrap(wrap);

  .layout-content,
  .layout-sidebar-first {
    padding: 1rem;
    @include flex(1, 1, 100%);
  }

  .layout-sidebar-first {
    order: 0;

    .region-sidebar-first {}
  }

  .layout-content {
    order: 1
  }


  @include media {

    .layout-sidebar-first {
      @include flex(0, 1, 250px);
      width: auto;
    }

    .layout-content {
      @include flex(1, 1);
      width: auto;
    }
  }
}
