.menu-name--main {
  font-weight: bold;
}
nav {

  &.fmsantiago_main_menu,
  &.responsive-menu-block-wrapper {
    @include container;

    >ul {
      @include flexbox;
      @include flex-wrap(wrap);
      @include align-content(so);
      margin: 1rem 0 0 0;

      @include media {
        // @include flex-wrap(nowrap);
      }

      ;

      li {
        @include flex(1, 1, 100%);

        a {

          padding-left: 0;
          padding-right: 0;
        }

        // &:nth-last-child(3) {
        //   margin-top: 100px;
        // }

        // &:nth-last-child(-n+3) {
        //   /*declarations*/
        //   border-top: 1px solid gray;
        // }

        // &:nth-last-child(-n+2) {
        //   /*declarations*/
        //   display: inline-flex;
        //   width: 20px;
        // }

        // &:nth-last-child(-n+1) {
        //   /*declarations*/
        //   display: inline-flex;
        //   width: 20px;
        //   border-bottom: 1px solid gray;
        // }


      }

    }
  }
}
