nav.menu--footer {
  display: none;

  @include media {
    display: block;
    position: fixed;
    bottom: 3rem;

    ul {
      margin: 0;
      width: 100%;
      display: block;
    }

    li {
      border-top: 1px solid gray;
      list-style: none;
      padding-top: 0.2em;
      padding-bottom: 0.2em;
      width: 100%;
      display: block;

      &:nth-last-child(-n+1) {
        border-bottom: 1px solid gray;
      }

      a {
        color: #000;
      }
    }
  }
}

.mm-panel {
  .mm-listview {

    .mm-listitem {}

    .menu-name--footer {


      a {
        font-size: .9rem;
      }

      // a {
      //   padding-left: 0;
      //   padding-right: 0;
      // }

      // &:nth-last-child(3) {
      //   margin-top: 100px;
      // }

      // &:nth-last-child(-n+3) {
      //   /*declarations*/
      //   border-top: 1px solid gray;
      // }

      // &:nth-last-child(-n+2) {
      //   /*declarations*/
      //   display: inline-flex;
      //   width: 20px;
      // }

      // &:nth-last-child(-n+1) {
      //   /*declarations*/
      //   display: inline-flex;
      //   width: 20px;
      //   border-bottom: 1px solid gray;
      // }


    }

  }
}