html {
  height: 100vh;

  body.frontpage {
    height: 100vh;

    .dialog-off-canvas-main-canvas {
      height: 100vh;

      >.layout-container {
        height: 100vh;
        padding: 0;

        main {
          height: 100vh;
          padding: 0;

          .layout-content {
            height: 100vh;
            padding: 0;

            .region-content {
              height: 100vh;
              @include flexbox;
              @include flex-wrap(wrap);
              @include justify-content(center);
              @include align-content(center);

              .block {
                @include flex(1, 1, 100%);
              }
            }
          }

        }
      }
    }
  }
}
