nav {

  &.tabs,
  &.breadcrumb {
    @include container;

    >ul,
    >ol {
      @include flexbox;
      @include flex-wrap(wrap);
      @include align-content(center);
      margin: 1rem 0 0 0;
      text-align: center;

      @include media {
        @include flex-wrap(nowrap);
      }

      li {
        @include flex(1, 1, 100%);
      }
    }
  }
}

.logged-in {
  nav {

    &.breadcrumb ol {
      margin: 1rem 0 0 0;
    }

    &.tabs ul {

      ul {
        margin: 3rem 0 0 0;
      }
    }
  }
}
